.footer{
    height: 10vh;
    width: 100%;
    background-color: #f79341;
    display: flex;
    position: relative;
    bottom: 0;
    z-index: 5;
    box-shadow: 0 -5px 7px -3px black;
    text-align: center;
}

.created{
    color:black;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}